@import 'mocha.css';

* {
    font-size: 25px;
    font-family: MesloLGS Nerd Font Mono;
}

window#waybar {
    background: @mantle;
    color: @mauve;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: @crust
}

#custom-right-arrow-light,
#custom-left-arrow-light {
    color: @mantle;
    background: @crust
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
    background: @crust
}

#workspaces button {
    padding: 0 2px;
    color: @pink;
}

#workspaces button.active {
    color: @sapphire
}

#workspaces button.urgent {
    color: @red
}

#workspaces button.empty {
    color: @overlay-two
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover {
    background: @crust;
    border: @crust;
    padding: 0 3px;
}

#pulseaudio {
    color: @blue
}

#memory {
    color: @green
}

#cpu {
    color: @mauve
}

#battery {
    color: @green
}

#disk {
    color: @peach
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}
